langchain 
langchain-openai
langsmith 
pandas 
langchain_experimental 
matplotlib 
langgraph 
langchain_core
yfinance
streamlit
python-dotenv
langchain
openai
slack-sdk 
slack-bolt 
flask
PyQt5
yahoofinance
seaborn
google-cloud-aiplatform 
langchain-google-vertexai
pydantic==2.9.0
gcloud
google-cloud-iam